:root {
    --font-xs: 12px;
    --font-sm: 14px;
    --font-base: 16px;
    --font-lg: 18px;
    --font-xl: 20px;
    --dark-gray: #efefef;
    --light-gray: #f9f9f9;
    --main-color: #ddeeaf;
    --point-color: #677e25;
}

html,
body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
}

header {
    color: var(--point-color);
    font-size: 28px;
    font-weight: 700;
    margin: 60px 0px 46px 46px;
}

#title_button {
    font-family: "Noto Sans KR", sans-serif;
    font-size: var(--font-sm);
    font-weight: 300;
    background-color: var(--light-gray);
    /*box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);*/
    border-radius: 20px;
    border: none;

    padding: 17px 35px;
    margin: 19px 18px 43px 0px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#contents {
    margin: 0px 68px;
    height: 90vh;
    /* 구식 브라우저를 위한 대비책(fallback) */
    height: -webkit-calc(100vh - 180px);
    /* for Chrome, Safari */
    height: -moz-calc(100vh - 180px);
    /* for Firefox */
    height: calc(100vh - 180px);
    /* for IE */
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

.date {
    font-weight: 400;
    font-size: var(--font-sm);
}

#record {
    width: 100%;
    height: 100%;
}

#chat {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
}

#messages {
    height: 90%;
    /* 구식 브라우저를 위한 대비책(fallback) */
    height: -webkit-calc(100% - 50px);
    /* for Chrome, Safari */
    height: -moz-calc(100% - 50px);
    /* for Firefox */
    height: calc(100% - 50px);
    /* for IE */
    overflow: scroll;
}

#chatSend {
    height: 50px;
    display: flex;
    justify-content: center;
}

#message {
    padding-left: 10px;
    line-height: 50px;
    width: 90%;
    resize: none;
}

#send {
    width: 10%;
}

#circle{
    width: 25px;
    height: 25px;
    background-color: #FFFFFF;
    border-radius: 50%;
}