:root {
  --font-xs: 12px;
  --font-sm: 14px;
  --font-base: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --dark-gray: #efefef;
  --light-gray: #f9f9f9;
  --main-color: #ddeeaf;
  --point-color: #677e25;
}

html,
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}

header {
  color: var(--point-color);
  font-size: 28px;
  font-weight: 700;
  margin: 30px 0px 30px 46px;
}

#title_button {
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-sm);
  font-weight: 300;
  background-color: var(--light-gray);
  /*box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);*/
  border-radius: 20px;
  border: none;

  padding: 17px 35px;
  margin: 19px 18px 43px 0px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#contents {
  margin: 0px 0px 0px 60px;
}

#date {
  font-weight: 500;
  font-size: var(--font-base);
}

#modify_contents_button {
  background-color: var(--point-color);
  color: white;
  font-size: var(--font-base);
}

#info {
  margin: 0px 0px 15px 0px;
  font-size: var(--font-base);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*.ql-toolbar {
  width: 50%;
}*/

.ql-container.ql-snow {
  background-color: var(--light-gray);
  border: none !important;
  height: 70vh;
  /*width: 50%;*/
}

/*#meeting {
  display: flex;
  flex-direction: column;
}*/

#chatting {
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 75vh;
  overflow-y: scroll;
  font-size: var(--font-base);
}

#chatting::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.chat_left {
  margin: 20px;
  align-self: flex-start;
}
.chat_left > .message {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--dark-gray);
}

.chat_right {
  margin: 20px;
  align-self: flex-end;
}

.chat_right > .message {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--main-color);
}

#circle {
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 50%;
}

.content {
  margin: 0;
  padding: 0;
}

.ql-editor::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
