:root {
    --font-xs: 12px;
    --font-sm: 14px;
    --font-base: 16px;
    --font-lg: 18px;
    --font-xl: 20px;
    --dark-gray: #efefef;
    --light-gray: #f9f9f9;
    --main-color: #ddeeaf;
    --point-color: #677e25;
}

header{
    margin: 50px 0 46px 46px;
    font-size: 28px;
    font-weight: 700;
    color: var(--point-color);
}
.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: stretch;
    column-gap: 30px;
    height: 70vh;
    padding-left: 55px;
}
#my-todo{
    border-right: solid var(--light-gray);
}
/*날짜 선택칸*/
#datebox{
    height: 45px;
    margin: 0 46px 46px 46px;
    padding: 0 10px 0 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
#datebox .material-symbols-outlined, #datebox span .material-symbols-outlined{
    padding: 0;
}
.calendar-button{
    margin-top: 5px;
}
#datebox .date, #datebox .material-symbols-outlined{
    border-style: none;
    background-color: #FFFFFF;
}
/* section calendar */

.sec_cal {
    width: 360px;
    margin: 0 auto;
    font-family: "NotoSansR";
}

.sec_cal .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
}

.sec_cal .cal_nav .year-month {
    width: 300px;
    text-align: center;
    line-height: 1;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
    display: block;
    width: 50px;
    height: 78px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #000;
    border-width: 3px 3px 0 0;
    transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
    border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.sec_cal .cal_wrap {
    padding-top: 40px;
    position: relative;
    margin: 0 auto;
}

.sec_cal .cal_wrap .days {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
    top: 368px;
}

.sec_cal .cal_wrap .day {
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    text-align: left;
    color: #999;
    font-size: 12px;
    text-align: center;
    border-radius:5px;
    border-style: none;
    background-color: #FFFFFF;
}

.current-month#today {background: rgb(242 242 242);}

.sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 290px;
}

.sec_cal .cal_wrap .day:nth-child(7n -1) {
    color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
    color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
    color: #ddd;
}

.date.notToday{
    color: #8c8c8c;
}

/*todo list*/
/*입력창*/
#button-addon2{
    background-color: #657D24;
    color: white;
}
#todo-title{
    margin-bottom: 15px;
    text-align: center;
}
#my-goal{
    margin-right: 40px;
    font-weight: 700;
    font-size: 1.3rem;
}
#todo-entry, #check-list .input-group{
    padding-right: 30px;
}
#todo-entry{
    margin-bottom: 30px;
}

/*리스트창*/
#check-list{
    align-items: center;
    margin-top: 20px;
}

#check-list .input-group .form-control{
    clear: both;
    overflow: hidden;
    width: 100px;
    height: 40px;
    background: #F9F9F9;
    box-shadow: 1.88235px 1.88235px 5px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
#check{
    padding: 0;
    margin-right: 10px;
    font-size: 2rem;
}
#del {
    padding: 0;
    font-size: 22px;
    position: absolute;
    right: 7px;
    top: 9px;
    background-color: inherit;
    color: #D4D4D4;
}
#task{
    position:absolute;
    font-size: 1rem;
    bottom: 7px;
}
[value = "true"]{
    color: #677e25;
}
[value = "true"] + .form-control{
    color: #7D7D7D;
}

[value = "false"]{
    color: #D4D4D4;
}
[value = "false"] + .form-control{
    color: #000;
}
/*멤버별 투두리스트*/
#dropbox{
    height: 45px;
    width: 33vw;
    margin: 0 46px 0 0;
    padding: 0 10px 0 10px;
    background: #FFFFFF;
    color: #000;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    text-align: left;
}
.dropdown-menu.text-muted{
    padding: 0;
    width: 33vw;
}
#check-list.member-list .input-group{
    padding-right: 10px;
}