<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/sidebar.css" />
  <link rel="stylesheet" href="css/goal.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <title>onlstuides</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light pt-0">
    <div id="sidebar">
      <div class="container-fluid">
        <div class="row">
          <!--sidebar-->
          <div class="col-2 sidebar">
            <div class="buttons">
              <div class="design"></div>
              <button ref="#" class="material-symbols-outlined" onclick="location.href='/'">home</button>
              <div class="text-black text-center mx-auto" id="user-name">
                님
              </div>
              <div class="text-black text-center mx-auto" id="group-name">
                현재그룹 이름
              </div>
              <div class="text-black text-center mx-auto" id="group-info">
                <span id="explain">그룹설명</span>
                <span id="number">/인원</span>
              </div>
              <ul class="navbar-nav flex-column mt-4">
                <li class="nav-item">
                  <a href="#" class="nav-link text-#657D24 p-2 mb-4 sidebar-link" data-value="todo">
                    Todo
                  </a>
                  <a href="#" class="nav-link p-2 mb-4 sidebar-link" data-value="schedule">
                    일정
                  </a>
                  <a href="#" class="nav-link p-2 mb-4 sidebar-link" data-value="chat">
                    채팅
                  </a>
                  <a href="#" class="nav-link p-2 mb-4 sidebar-link" data-value="storage">
                    저장소
                  </a>
                  <a href="#" class="nav-link p-2 mb-4 sidebar-link" data-value="penalty">
                    벌금
                  </a>
                  <a href="#" class="nav-link p-2 mb-4 current" id="current" data-value="goal">
                    목표달성률
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!--content-->
          <div class="col-10 ml-auto py-2 content">
            <header>목표 달성률</header>
            <div id="my-todo">
              <div id="todo-title">
                <span id="my-goal">그룹 공동 목표</span>
                <span id="success">0</span>/<span id="list-number">0</span>
              </div>
              <div>
                <!--투두 입력창-->
                <div class="input-group" id="todo-entry">
                  <input type="text" class="form-control" id="text-entry" , placeholder="목표를 입력하세요"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">목표 추가</button>
                </div>
                <!--투두리스트-->
                <div id="check-list"></div>
              </div>

            </div>
            <div id="goal_graph">
              <div class='item'>
                <div class='name'>그룹 공동 목표</div>
                <div id='rate'>${_rate}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <script type="text/javascript">const groupId = '<%-groupId%>';</script>
  <script type="text/javascript" src="js/sidebar.js"></script>
  <script type="text/javascript" src="js/goal.js"></script>
</body>

</html>