<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>
                <button>KHU</button>
            </h1>
            <nav>
                <ul>
                    <li>
                        <button>Login</button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main id="'main">
        <div id="container">
            <h4>Welcome</h4>
            <h2><span>오늘의 스터디</span></h2>
        </div>
    </main>
</body>
</html>