<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main.html</title>
</head>

<body>
    <img src="/images/icon.png" alt="" /> 
    <h1>main page</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Atque, ullam quos! Iste quae, molestiae vitae tenetur,
        in a aperiam voluptatibus dicta qui doloribus libero suscipit optio delectus voluptas voluptatem impedit!
    </p>
    <div id="cursor" style="width:8px;height:20px;background:black;margin-left:10px"></div>

    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/js/cursor_test.js"></script>
</body>

</html>