<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main.html</title>
</head>

<body>
    <img src="data:image/png;base64, <%= user.photos %>" style="width: 100px; height: 100px;" />
    <h1>
        <%= user.displayName %>
    </h1>

    <div>
        <input id="inputDisplayName">
        <button onclick="btnClicked()">submit</button>
    </div>

    <div>
        <input type="file" accept="image/png, image/jpeg">
    </div>

    <a href="/auth/logout">Google Logout</a>

    <div>
        <a href="/accept_invitation">accept_invitation</a>
        <select id="groups" onchange="changeValue(this)"></select>
        <a onclick="edit()">edit_group</a>
        <a href="/make_group">make_group</a>
    </div>
    

    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/js/second.js"></script>
    <script>
        function btnClicked() {
            $.ajax({
                url: '/api/edit_profile_name',
                dataType: 'json',
                type: 'POST',
                data: { displayName: $('#inputDisplayName').val() }
            });
            setTimeout(() => { location.href = "/"; }, 100);
        }
        const fileInput = document.querySelector('input[type="file"]');
        fileInput.addEventListener('change', (e) => {
            const file = e.target.files[0];
            if (file.size <= 100000) {
                const reader = new FileReader();
                reader.onloadend = () => {
                    const img = reader.result.split("base64,")[1];
                    $.ajax({
                        url: '/api/edit_profile_image',
                        dataType: 'json',
                        type: 'POST',
                        data: { image: img }
                    });
                };
                reader.readAsDataURL(file);
                setTimeout(() => { location.href = "/"; }, 100);
            } else {
                alert("100KB이하의 사진 만 가능합니다.");
            }
        });

    </script>
</body>

</html>