<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/sidebar.css" />
    <link rel="stylesheet" href="css/storage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />
    <title>onlstuides</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light py-0">
      <!-- pt -> py 변경 -->
      <div id="sidebar">
        <div class="container-fluid">
          <div class="row">
            <!--sidebar-->
            <div class="col-2 sidebar">
              <div class="buttons">
                <div class="design"></div>
                <button ref="#" class="material-symbols-outlined">home</button>
                <div class="text-black text-center mx-auto" id="user-name">
                  민수민님
                </div>
                <div class="text-black text-center mx-auto" id="group-name">
                  현재그룹 이름
                </div>
                <div class="text-black text-center mx-auto" id="group-info">
                  <span id="explain">그룹설명</span>
                  <span id="number">/인원</span>
                </div>
                <ul class="navbar-nav flex-column mt-4">
                  <li class="nav-item">
                    <a href="#" class="nav-link p-2 mb-4 sidebar-link">
                      Todo
                    </a>
                    <a href="#" class="nav-link p-2 mb-4 sidebar-link">
                      일정
                    </a>
                    <a href="#" class="nav-link p-2 mb-4 sidebar-link">
                      채팅
                    </a>
                    <a href="#" class="nav-link p-2 mb-4 current" id="current">
                      저장소
                    </a>
                    <a href="#" class="nav-link p-2 mb-4 sidebar-link">
                      벌금
                    </a>
                    <a href="#" class="nav-link p-2 mb-4 sidebar-link">
                      목표달성률
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!--content-->
            <div class="col-10 ml-auto py-2 content">
              <div>
                <!-- 각자 코드 -->
                <header>저장소 상세페이지</header>
                <div id="contents" class="row">
                  <div id="meeting" class="col">
                    <div id="info">
                      <div class="left_info">
                        <span id="date">2022년 8월 10일</span>
                        <span id="title">1차 회의록</span>
                      </div>
                      <button
                        type="button"
                        id="modify_contents_button"
                        class="btn"
                      >
                        수정하기
                      </button>
                    </div>
                    <div id="editor"></div>
                  </div>
                  <div id="chatting" class="col">채팅</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script type="text/javascript" src="js/storage_detail.js"></script>
    <script type="text/javascript" src="js/sidebar.js"></script>
  </body>
</html>
