<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/check_group.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <title>onlstuides</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <span class="material-symbols-outlined" id="exit_group"> logout </span>
        <div class="right-icons">
          <span class="material-symbols-outlined" onclick="location.href='/'"> home </span>
          <span class="material-symbols-outlined"> settings </span>
        </div>
      </header>

      <div class="container">
        <div class="group_name" id="group_name">group name</div>
        <div class="description" id="description">그룹 설명</div>
        <ul class="nav" id="nav">
          <li class="nav-item" onclick="var id = getParameter('id');location.href ='/todo';">Todo</li>
          <li class="nav-item" onclick="var id = getParameter('id');location.href ='/schedule';">일정</li>
          <li class="nav-item" onclick="var id = getParameter('id');location.href ='/chat';">채팅</li>
          <li class="nav-item" onclick="var id = getParameter('id');location.href ='/storage';">저장소</li>
          <li class="nav-item" onclick="var id = getParameter('id');location.href ='/fine';">벌금</li>
          <li class="nav-item" onclick="var id = getParameter('id');location.href ='/goal';">목표 달성률</li>
        </ul>
      </div>
      <footer id="footer">초대코드</footer>
    </div>
    <script type="text/javascript" src="js/check_group.js"></script>
  </body>
</html>
